@import url("https://fonts.googleapis.com/css?family=Roboto");

/* Global styles*/
:root {
  --primary-color: #35b5dc;
  --dark-color: #333333;
  --light-color: #f4f4f4;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  line-height: 1.6;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  text-align: center;
  color: #333;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}
.btn-primary,
.btn-block,
.btn-lg,
.btn-secondary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}
.h1 {
  font-size: 4rem;
}
